---
import { discordInvite, githubRepo } from '../constants';
---

<!-- GitHub -->
<a href={githubRepo} rel="me" class="sl-flex social-icon" title="GitHub">
  <span class="sr-only">GitHub</span>
  <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" fill="white">
    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z" />
  </svg>
</a>

<!-- Discord -->
<a href={discordInvite} rel="me" class="sl-flex social-icon" title="Discord">
  <span class="sr-only">Discord</span>
  <svg aria-hidden="true" width="18" height="14" viewBox="0 0 71 55" fill="#5865F2">
    <path d="M60.1 4.9A58.5 58.5 0 0045.4.2a.2.2 0 00-.2.1 40.8 40.8 0 00-1.8 3.7 54 54 0 00-16.2 0A37.3 37.3 0 0025.4.3a.2.2 0 00-.2-.1A58.4 58.4 0 0010.5 4.9a.2.2 0 00-.1.1C1.5 18 -.9 30.6.3 43a.3.3 0 00.1.2 58.7 58.7 0 0017.7 9 .2.2 0 00.3-.1 42 42 0 003.6-5.9.2.2 0 00-.1-.3 38.6 38.6 0 01-5.5-2.6.2.2 0 01 0-.4l1.1-.9a.2.2 0 01.2 0 41.9 41.9 0 0035.6 0 .2.2 0 01.2 0l1.1.9a.2.2 0 010 .3 36.3 36.3 0 01-5.5 2.7.2.2 0 00-.1.3 47.2 47.2 0 003.6 5.9.2.2 0 00.3.1A58.5 58.5 0 0070.2 43a.3.3 0 00.1-.2c1.4-14.5-2.4-27-10.1-38.1a.2.2 0 00-.1 0zM23.7 35.3c-3.3 0-6-3-6-6.7s2.7-6.7 6-6.7 6.1 3 6 6.7c0 3.7-2.6 6.7-6 6.7zm22.2 0c-3.3 0-6-3-6-6.7s2.6-6.7 6-6.7c3.4 0 6.1 3 6 6.7 0 3.7-2.6 6.7-6 6.7z" />
  </svg>
</a>

<!-- NPM -->
<a href="https://www.npmjs.com/package/uql-orm" rel="me" class="sl-flex social-icon" title="NPM">
  <span class="sr-only">NPM</span>
  <svg aria-hidden="true" width="28" height="11" viewBox="0 0 18 7" fill="#CB3837">
    <path d="M0,0h18v6H9v1H5V6H0V0z M1,5h2V2h1v3h1V1H1V5z M6,1v5h2V5h2V1H6z M8,2h1v2H8V2z M11,1v4h2V2h1v3h1V2h1v3h1V1H11z" />
  </svg>
</a>

<style>
  .social-icon {
    margin: -0.5em;
    padding: 0.5em;
  }

  .social-icon:hover {
    opacity: 0.66;
  }
</style>
